<style type="text/css">
    div.post {
        background-color: beige;
        width: 700px;
    }

    div.post div.username {
        border-color: black;
        border-width: 10px;
        border-style: solid;
        border-radius: 50px;
        width: fit-content;
    }

    div.post div.username img {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin-left: 20px;
    }

    div.post div.username span {
        font-size: 50;
    }

    div.post div.video_image img {
        width: 600px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div.post div.movie_serie img {
        width: 100px;
        height: 100px;
    }

</style>

<div class="post">
    <div class="username">
        <img src="../static/images/bojack_3.jpeg" alt="img">
        <span> diegoias </span>
    </div>
    <div class="video_image">
        <img src="../static/images/bojack_1.jpeg" alt="img">
    </div>
    <div class="movie_serie">
        <img src="../static/images/bojack_2.jpeg" alt="img">
        <span> Bojack Horseman </span>
        <span> 6:15 </span>
        <span> (2020) </span>
    </div>
    <div class="reactions">
        <img src="../static/images/good.png" alt="good">
        <img src="../static/images/bad.png" alt="bad">
    </div>
</div>